APP_VERSION=2.2.1
IMAGE_OWNER=wannamax
APP_PORT=8080
POSTGRES_DB=production_management
POSTGRES_USER=pms_app
POSTGRES_PASSWORD=
TZ=Asia/Ho_Chi_Minh
# Chỉ cần khi GHCR package đang private:
# GHCR_USERNAME=
# GHCR_TOKEN=
